{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="separator"></div>
    <div class="article-list">
        {% for project in project_list %}
        <div class="article-blog post">
            <div class="meta">
                {{ project.date|date:"d M Y" }} / {% trans "PROJECT_CODE_LANGUAGE" %}: {{ project.language }}
            </div>
            <h2 class="article-header-blog">
                <a href="{% url 'project:project-detail' slug=project.slug %}">
                    {{ project.title }}
                </a>
            </h2>
            <div class="teaser">
                {{ project.description|safe }}
            </div>
            <h6 class="more">
                <a href="{% url 'project:project-detail' slug=project.slug %}">
                    {% trans "ARTICLE_LIST_READ_MORE" %}
                </a>
            </h6>
        </div>
        {% endfor %}
    </div>
    {% block pagination %} {% if is_paginated %}
    <div class="pagination">
        <span class="page-links">
            {% if page_obj.has_previous %}
            <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}">{% trans "PAGE_PREV" %}</a>
            {% endif %}
            <span class="page-current">
                {% trans "PAGE_TEXT1" %} {{ page_obj.number }} {% trans "PAGE_TEXT2" %}
                {{ page_obj.paginator.num_pages }}
            </span> {% if page_obj.has_next %}
            <a href="{{ request.path }}?page={{ page_obj.next_page_number }}">{% trans "PAGE_NEXT" %}</a> {% endif %}
        </span>
    </div>
    {% endif %} {% endblock %}
</section>
{% endblock %}
