{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block extrastyle %}
<style>
    h2 {
        margin-bottom: 30px;
    }

    h3,
    h4,
    h5,
    h6 {
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .hljs {
        background-color: #DDD;
        width: 98%;
        -webkit-box-shadow: 3px 8px 6px -6px black;
        -moz-box-shadow: 3px 8px 6px -6px black;
        box-shadow: 3px 8px 6px -6px black;
    }

</style>
{% endblock %}


{% block content %}
<section id="content">
    <div class="article-blog single">
        <h1 class="article-header-blog">
            {% trans "Manual" %}
        </h1>
        <div class="content-text">
            {% get_current_language as LANGUAGE_CODE %}
            {% if LANGUAGE_CODE == 'de' %}
            {% include 'admin_doc/MANUAL_DE.html' %}
            {% else %}
            {% include 'admin_doc/MANUAL_EN.html' %}
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
