{% extends 'home/base.html' %}
{% comment %}
Copyright (C) 2018 dsoft-app-dev.de and friends.

This Program may be used by anyone in accordance with the terms of the
German Free Software License

The License may be obtained under http://www.d-fsl.org.
{% endcomment %}


{% load i18n static %}

{% block content %}
<section id="content">
    <div class="article-blog single">
        <h1>{% trans "PROJECT_TITLE" %}: {{ project.title }}</h1>
        <div class="separator"></div>
        <div class="card text-white bg-light mb-3" style="background-color: #252525 !important; width: 85%;">
            <div class="card-header">
                <dd class="card-text create">
                    <span data-toggle="tooltip"
                        title='{% trans "PROJECT_CREATION_DATE" %}'>{{ project.date|date:"d M Y" }}</span>
                </dd>
            </div>
            <div class="card-body">
                <p class="card-text">{{ project.description|safe }}</p>
                <dd class="card-text language">
                    <span data-toggle="tooltip"
                        title='{% trans "PROJECT_CODE_LANGUAGE" %}'>{{ project.language }}</span>
                </dd>
                <dd class="card-text bookmark">
                    <a class="text-white" href="{{ project.code_repository }}">{{ project.code_repository }}</a>
                </dd>
            </div>
        </div>
        <div class="separator"></div>
        <h2 class="article-header-blog">Road
            <span style="color: #ce9178;">map</span>
        </h2>
        <div class="separator"></div>
        <div class="content-text">
            <div class="row">
                <div class="col-md-12">
                    <div id="project-milestone" class="cd-container">
                        {% for milestone in project.milestones.all %}
                        <div class="project-milestone-block">
                            <div data-toggle="tooltip" title='{% trans "PROJECT_DUEDATE" %}: {{ milestone.duedate }}'>
                                {% if milestone.state == 2 %}
                                <div class="project-milestone-img cd-green"></div>
                                {% endif %} {% if milestone.state == 1 %}
                                <div class="project-milestone-img cd-yellow"></div>
                                {% endif %} {% if milestone.state == 0 %}
                                <div class="project-milestone-img cd-blue"></div>
                                {% endif %}
                            </div>
                            <div class="project-milestone-content">
                                <h2>
                                    <a data-toggle="collapse" href="#collapseExample-{{milestone.pk}}" role="button"
                                        aria-expanded="false" aria-controls="collapseExample-{{milestone.pk}}">
                                        {{ milestone.title }}
                                    </a>
                                </h2>
                                <div class="collapse" id="collapseExample-{{milestone.pk}}">
                                    <div class="milestone-workitem-block" style="text-align: left !important;">
                                        {% if milestone.workitems.all %} {% for workitem in milestone.workitems.all %}
                                        <dd class="card-text category-name">
                                            <span data-toggle="tooltip"
                                                title="{{ workitem.date }} / {{ workitem.description|striptags|safe }}">{{ workitem.name }}</span>
                                        </dd>
                                        {% endfor %} {% else %}
                                        <span>{% trans "PROJECT_NO_WORKITEMS" %}</span>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
