dd
  &.create:before, &.bookmark:before, &.language:before
    color: #fff !important

#project-milestone
  &::before
    position: absolute
    top: 0
    left: 50%
    width: 4px
    height: 95%
    margin-left: -2px
    content: ""
    background: #888888
  position: relative
  padding: 50px 0
  &.cd-container::after
    display: table
    clear: both
    content: ""

.project-milestone-block
  &:first-child
    margin-top: 0
  &:nth-child(even) > .project-milestone-content
    &::before
      top: 24px
      right: 100%
      left: auto
      border-color: transparent
      border-right-color: #ddd
    float: right
    text-align: left !important
  &::after
    display: table
    clear: both
    content: ""
  position: relative
  margin: 18px 0
  text-align: right

.project-milestone-img
  &.cd-green
    background: #b5cea8
  &.cd-yellow
    background: #ce9178
  &.cd-blue
    background: #9cdcf7
  position: absolute
  top: 0
  left: 50%
  width: 60px
  height: 60px
  margin-left: -30px
  border-radius: 50%
  transform: translateZ(0)
  -webkit-transform: translateZ(0)
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
  -webkit-box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05)
  backface-visibility: hidden
  -webkit-backface-visibility: hidden

.project-milestone-content
  &::before
    position: absolute
    top: 24px
    right: 100%
    left: 100%
    width: 0
    height: 0
    content: ""
    border: 7px solid transparent
    border-left-color: #ddd
  &::after
    display: table
    clear: both
    content: ""
  position: relative
  width: 43%
  margin-left: 0
  padding: 20px
  border-radius: 3px
  background: #ddd
  box-shadow: 3px 8px 6px -6px #787878
  > h2
    font-size: 16px
    margin: 0
    padding: 0
    color: #2d2d2d
    border: 0

.milestone-workitem-block:first-child
  margin-top: 15px
